p{margin:0px}
body{margin:0px;
     margin-top:70px;
    margin-bottom: 800px;
    }

.header{display:flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height:90px;
        background-color: white;
        border-width:2px;

       }

.sidebar{display:flex;
        position: fixed;
        top:100px;
        bottom: 0;
        width:140px;
        background-color: red;}
.search-bar{border-color: grey;
            border-style: solid;
            box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
            height:45px;
            width:65%;
            margin-left:40px;
          flex-shrink:-1;
          border-bottom-left-radius: 22px; 
          border-top-left-radius: 22px;
          border-width: 2px;
          font-size:22px;
          }
.search-bar::placeholder{font-size:22px;
                         padding-left:14px;
                        }
.page-cont{display:grid;
           margin-top: 80px;
           grid-template-columns: 1fr 1fr 1fr ;
           row-gap: 40px;
           column-gap: 20px;
           justify-content: center;
           margin-left:140px;
           padding-top:20px;
           padding-left: 20px;
          padding-right:10px}
.thumb-cont{display:inline-block;
           height: auto; }

.thumb-cont:hover{ border-radius: 20px;
                  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.494);
                  cursor: pointer;}


.thumbnail{width:100%;
    object-fit: contain;}
.thumbnail:hover{border-top-left-radius:20px;
                 border-top-right-radius: 20px;}

.video-cont{display:grid;
            grid-template-columns: 1fr 7fr;
            align-items: top;
           }

.video-title{ display:block;
              margin:0px;
              color: rgb(0, 0, 0);
              font-size: 22px;
              font-family:Arial, Helvetica, sans-serif;
              font-weight:600;
              margin-bottom:8px;
              padding-left:5px}

.channel-name{margin:0px;
             color:rgb(54, 54, 54);
             font-family:Arial, Helvetica, sans-serif;
            font-size:18px;
            margin-bottom:4px;
            padding-left:5px}

.views-count{color:rgb(92, 91, 91);
             font-size:18px;
             font-family: Arial, Helvetica, sans-serif;
             padding-left:5px;
            }

.channel-image{width: 56px;
               object-fit:contain;
               border-radius:28px;}