p{margin:0px}

.search-bar{display: block;
width:auto}

.page-cont{display:grid;
           grid-template-columns: 1fr 1fr 1fr;
           column-gap: 15px; 
           row-gap: 15px;}
.video-cont{display:inline-block;
           height: auto;
           vertical-align: top;
           }

.video-cont:hover{ border-radius: 20px;
                  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.494);
                  cursor: pointer;;

}


.thumbnail{width:100%;
    object-fit: contain;}
.thumbnail:hover{border-radius:20px;}

.video-title{ display:inline-block;
              width:250px;
              margin:0px;
              font-size: 15px;
              font-family:Arial, Helvetica, sans-serif;
              font-weight:500;
              margin-bottom:8px}

.ci-cont{display:inline-block;
         vertical-align: top;
         margin-right:6px;}

.info-cont{display:inline-block;}

.channel-name{margin:0px;
             color:rgb(92, 91, 91);
             font-family:Arial, Helvetica, sans-serif;
            font-size:12px;
            margin-bottom:4px;}

.views-count{color:rgb(92, 91, 91)}

.channel-image{width: 38px;
               object-fit:contain;
               border-radius:18px;}